.btn-primary {
  @apply bg-btn-primary text-btn-primary-text px-4 py-2 rounded-lg font-semibold transition;
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn-outline-primary {
  @apply bg-transparent border border-btn-primary text-btn-primary px-4 py-2 rounded-lg font-semibold transition;
}
.btn-outline-primary:hover {
  background-color: var(--btn-primary-hover);
  color: var(--btn-primary-text);
}

.btn-secondary {
  @apply bg-btn-secondary text-btn-secondary-text px-4 py-2 rounded-lg font-semibold transition;
}
.btn-secondary:hover {
  background-color: var(--btn-secondary-hover);
}