---
import BaseLayout from "../layout/BaseLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>LinguaQuest</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

<BaseLayout>
  <h1>Bem-vindo ao LinguaQuest</h1>
  <p>Selecione uma opção no menu para começar.</p>
</BaseLayout>
