---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.svelte";
import Sidebar from "../components/Sidebar.svelte";
---

<BaseLayout>
    <Sidebar client:load />
    <div class="flex-grow-1">
        <Navbar client:load />
        <main class="bg-bg-primary p-4">
            <slot />
        </main>
    </div>
</BaseLayout>