---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.svelte";
import Sidebar from "../components/Sidebar.svelte";
import SelectCourseComponent from "../components/SelectCourse.svelte";
---

<BaseLayout>
    <div class="flex">
      <Sidebar client:load />
      <div class="flex-1 flex flex-col">
          <Navbar client:load />
          <SelectCourseComponent client:load />
      </div>
    </div>
</BaseLayout>