---
import "../styles/global.css";
---
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>LinguaQuest</title>
  </head>
  <body class="d-flex">
    <slot />
  </body>
</html>
