---
import "../styles/global.css";
---
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>StudyMe.AI</title>
    <link rel="icon" type="image/x-icon" href="icon.png">
  </head>
  <body class="d-flex">
    <slot />
  </body>
</html>
